@using Journey.Entities
@model ICollection<Reservation>
@{
    ViewData["Title"] = "Tenant Page";
}
<h1>Tenant page</h1>
<h2>Reservatios</h2>
<table class="table">
    <thead>
        <tr>
            <th>PlaceName</th>
            <th>ArrivalDate</th>
            <th>DepartureDate</th>
            <th>Sum</th>
            <th>IsPaid</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Place!.PlaceName</td>
                <td>@item.ArrivalDate</td>
                <td>@item.DepartureDate</td>
                <td>@item.Sum</td>
                <td>@item.IsPaid</td>
                <td>@item.Status</td>
                <td>
                    @if (item.Status != Status.Canceled)
                    {
                        <form class="form-inline" asp-controller="Tenant" asp-action="CancelReservation" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-dark">Cancel</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
