@using Journey.Entities
@model Place
@{
    ViewData["Title"] = "Register object";
}
<h1>LandLord page</h1>
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                @ViewData["Title"]
            </h2>
            <hr />
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="PlaceName"></label>
            <input asp-for="PlaceName" class="form-control" />
            <span asp-validation-for="PlaceName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PricePerNight"></label>
            <input asp-for="PricePerNight"  min="1" class="form-control" />
            <span asp-validation-for="PricePerNight" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Rank"></label>
            <input asp-for="Rank" type="number" min="1" max="5" class="form-control" />
            <span asp-validation-for="Rank" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="BedsCount"></label>
            <input asp-for="BedsCount" type="number" min="1" max="10" class="form-control" />
            <span asp-validation-for="BedsCount" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Address"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <select class="form-select bg-light" aria-label="Default select example" id="CityId" name="CityId"
                    style="font-size:15px; border: none; padding-top: 0;">
                @foreach (var item in Model.Cities!)
                {
                    <option value="@item.Key" selected>@item.Value</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <select class="form-select bg-light" aria-label="Default select example" id="PlaceTypeId" name="PlaceTypeId"
                    style="font-size:15px; border: none; padding-top: 0;">
                @foreach (var item in Model.PlaceTypes!)
                {
                    <option value="@item.Key" selected>@item.Value</option>
                }
            </select>
            <button type="submit" class="btn btn-primary" style="width:150px">
                Create
            </button>
            <a asp-controller="LandLord" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Back to List
            </a>
        </div>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}