@using Journey.Entities
@using Journey.ViewModels.LandLord
@model ReservationsViewModel
@{
    ViewData["Title"] = "Reservations";
    var res = Model.PaginatedList.PageIndex >= Model.PaginatedList.TotalPages
              ? (Model.PaginatedList.TotalPages - 1) : Model.PaginatedList.PageIndex;
    var prevDisabled = !Model.PaginatedList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.PaginatedList.HasNextPage ? "disabled" : "";
}
<h1>@Model.PlaceName 
    <a class="btn btn-dark" asp-controller="Home" asp-action="Details" asp-route-id="@Model.PlaceId">Details</a>
    <a class="btn btn-secondary" asp-controller="LandLord" asp-action="Index">Back to list</a>
</h1>
<h2>Reservations</h2>
<form asp-action="Reservations" method="get">
    <input type="hidden" asp-for="PlaceId" value="@Model.PlaceId" />
    <input type="hidden" asp-for="CurrentSearchString" value="@Model.SearchString" />
    <input type="hidden" asp-for="Selection" value="@Model.Selection" />
    <div class="form-actions no-color">
        <input type="hidden" value="@res" name="pageIndex" />
        <p>
            Find by name: <input type="text" name="SearchString" value="@Model.SearchString"
                                 class="form-control" style="width:300px; display:inline-block;" />
        </p>
    </div>
</form>
<div class="btn-group">
    <a asp-action="Reservations"
       asp-route-currentSort="@Model.AccountSortParam"
       asp-route-currentSearchString="@Model.SearchString"
       asp-route-placeId="@Model.PlaceId"
       asp-route-pageIndex="@Model.PageIndex"
       asp-route-selection="@Model.Current"
       class="btn btn-primary">Current</a>
    <a asp-action="Reservations"
       asp-route-currentSort="@Model.AccountSortParam"
       asp-route-currentSearchString="@Model.SearchString"
       asp-route-placeId="@Model.PlaceId"
       asp-route-pageIndex="@Model.PageIndex"
       asp-route-selection="@Model.Waiting"
       class="btn btn-primary">Waiting</a>
    <a asp-action="Reservations"
       asp-route-currentSort="@Model.AccountSortParam"
       asp-route-currentSearchString="@Model.SearchString"
       asp-route-placeId="@Model.PlaceId"
       asp-route-pageIndex="@Model.PageIndex"
       asp-route-selection="@Model.InPlace"
       class="btn btn-primary">InPlace</a>
    <a asp-action="Reservations"
       asp-route-currentSort="@Model.AccountSortParam"
       asp-route-currentSearchString="@Model.SearchString"
       asp-route-placeId="@Model.PlaceId"
       asp-route-pageIndex="@Model.PageIndex"
       asp-route-selection="@Model.Canceled"
       class="btn btn-primary">Canceled</a>
    <a asp-action="Reservations"
       asp-route-currentSort="@Model.AccountSortParam"
       asp-route-currentSearchString="@Model.SearchString"
       asp-route-placeId="@Model.PlaceId"
       asp-route-pageIndex="@Model.PageIndex"
       asp-route-selection="@Model.Completed"
       class="btn btn-primary">Completed</a>
    <a asp-action="Reservations"
       asp-route-currentSort="@Model.AccountSortParam"
       asp-route-currentSearchString="@Model.SearchString"
       asp-route-placeId="@Model.PlaceId"
       asp-route-pageIndex="@Model.PageIndex"
       asp-route-selection="@Model.AllReservations"
       class="btn btn-primary">All reservations</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Reservations"
                   asp-route-currentSort="@Model.AccountSortParam"
                   asp-route-currentSearchString="@Model.SearchString"
                   asp-route-placeId="@Model.PlaceId"
                   asp-route-selection="@Model.Selection"
                   asp-route-pageIndex="@Model.PageIndex">UserName</a>
            </th>
            <th>
                <a asp-action="Reservations"
                   asp-route-currentSort="@Model.ArrivalSortParam"
                   asp-route-currentSearchString="@Model.SearchString"
                   asp-route-placeId="@Model.PlaceId"
                   asp-route-selection="@Model.Selection"
                   asp-route-pageIndex="@Model.PageIndex">ArrivalDate</a>
            </th>
            <th>
                <a asp-action="Reservations"
                   asp-route-currentSort="@Model.DepartureSortParam"
                   asp-route-currentSearchString="@Model.SearchString"
                   asp-route-placeId="@Model.PlaceId"
                   asp-route-selection="@Model.Selection"
                   asp-route-pageIndex="@Model.PageIndex">DepartureDate</a>
            </th>
            <th>
                <a asp-action="Reservations"
                   asp-route-currentSort="@Model.SumSortParam"
                   asp-route-currentSearchString="@Model.SearchString"
                   asp-route-placeId="@Model.PlaceId"
                   asp-route-selection="@Model.Selection"
                   asp-route-pageIndex="@Model.PageIndex">Sum</a>
            </th>
            <th>IsPaid</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PaginatedList)
        {
            <tr>
                <td>@item.Account!.UserName</td>
                <td>@item.ArrivalDate</td>
                <td>@item.DepartureDate</td>
                <td>@item.Sum</td>
                @if (item.IsPaid)
                {
                    <td>@item.IsPaid</td>
                }
                else if (item.Status == Status.Canceled || item.Status == Status.Completed)
                {
                    <td>@item.IsPaid</td>
                }
                else
                {
                    <td>
                        <form class="form-inline" asp-controller="LandLord" asp-action="MakePayment" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-dark">MakePayment</button>
                        </form>
                    </td>
                }
                <td>
                    @if (item.StatusDictionary.Count == 1 || item.Status == Status.Canceled || item.Status == Status.Completed)
                    {
                        @item.Status.ToString()
                    }
                    else
                    {
                        <form class="form-inline" asp-controller="LandLord" asp-action="ChangeStatus" asp-route-id="@item.Id">
                            <select onchange="this.form.submit()" name="select" id="select">
                                @foreach (var c in item.StatusDictionary)
                                {
                                    @if (item.Status.ToString() == c.Value.ToString())
                                    {
                                        <option value="@c.Key" selected>@c.Value</option>
                                    }
                                    else
                                    {
                                        <option value="@c.Key">@c.Value</option>
                                    }
                                }
                            </select>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a asp-action="Reservations"
               asp-route-currentSearchString="@Model.SearchString"
               asp-route-currentSort="@Model.CurrentSort"
               asp-route-placeId="@Model.PlaceId"
               asp-route-selection="@Model.Selection"
               asp-route-pageIndex="@(Model.PaginatedList.PageIndex - 1)"
               class="btn btn-default @prevDisabled">
                Previous
            </a>
        </li>
        @for (int i = 1; i <= Model.PaginatedList.TotalPages; i++)
        {
            <li class="page-item">
                <a asp-action="Reservations"
               asp-route-currentSearchString="@Model.SearchString"
               asp-route-placeId="@Model.PlaceId"
               asp-route-currentSort="@Model.CurrentSort"
               asp-route-selection="@Model.Selection"
               asp-route-pageIndex="@i"
               class="page-link">@i</a>
            </li>
        }
        <li class="page-item">
            <a asp-action="Reservations"
               asp-route-currentSearchString="@Model.SearchString"
               asp-route-placeId="@Model.PlaceId"
               asp-route-currentSort="@Model.CurrentSort"
               asp-route-selection="@Model.Selection"
               asp-route-pageIndex="@(Model.PaginatedList.PageIndex + 1)"
               class="btn btn-default @nextDisabled">
                Next
            </a>
        </li>
    </ul>
</nav>
