@using Journey.Data
@using Journey.Entities
@using Microsoft.AspNetCore.Identity
@model Place
@inject SignInManager<IdentityUser> SignInManager
@inject UnitOfWork unitOfwork
@{
    ViewData["Title"] = "Details";
}
<div class="border p-3 mt-4">
    <div class="row pb-2">
        <h2 class="text-primary">
            Details
        </h2>
        <hr />
    </div>
    <div class="mb-3">
        <dl class="row">
            <dt class="col-sm-2">
                <label asp-for="PlaceName"></label>
            </dt>
            <dd class="col-sm-10">
                @Model.PlaceName
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                <label asp-for="PricePerNight"></label>
            </dt>
            <dd class="col-sm-10">
                @Model.PricePerNight
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                <label asp-for="BedsCount"></label>
            </dt>
            <dd class="col-sm-10">
                @Model.BedsCount
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                <label asp-for="Rank"></label>
            </dt>
            <dd class="col-sm-10">
                @Model.Rank
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                <label asp-for="City"></label>
            </dt>
            <dd class="col-sm-10">
                @Model.City!.CityName
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                <label asp-for="PlaceType"></label>
            </dt>
            <dd class="col-sm-10">
                @Model.PlaceType!.TypeName
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                <label asp-for="Address"></label>
            </dt>
            <dd class="col-sm-10">
                @Model.Address
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                <label asp-for="Description"></label>
            </dt>
            <dd class="col-sm-10">
                @Model.Description
            </dd>
        </dl>
    </div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">
        Back to List
    </a>
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Tenant")
    && Model.ArrivalDate != null && Model.DepartureDate != null)
    {
        <form method="post" asp-action="MakeReservation" asp-controller="Tenant">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Address" />
            <input type="hidden" asp-for="PlaceName" />
            <input type="hidden" asp-for="Description" />
            <div class="border p-3 mt-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="ArrivalDate"></label>
                    <input asp-for="ArrivalDate" type="date"
                       min="@Model.ArrivalDate.Value.ToString("yyyy-MM-dd")"
                       max="@Model.DepartureDate.Value.AddDays(-1).ToString("yyyy-MM-dd")"
                       value="@Model.ArrivalDate.Value.ToString("yyyy-MM-dd")"
                       class="form-control" />
                    <span asp-validation-for="ArrivalDate" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="DepartureDate"></label>
                    <input asp-for="DepartureDate" type="date"
                       min="@Model.ArrivalDate.Value.AddDays(1).ToString("yyyy-MM-dd")"
                       max="@Model.DepartureDate.Value.ToString("yyyy-MM-dd")"
                       value="@Model.DepartureDate.Value.ToString("yyyy-MM-dd")"
                       class="form-control" />
                    <span asp-validation-for="DepartureDate" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary" style="width:150px">
                    Make a reservation
                </button>
            </div>
        </form>
    }
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        let date = new Date();
        function toFormat(date) {
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var day = date.getDate();
            month = month / 10 >= 1 ? month.toString() : `0${month}`;
            day = date.getDate() / 10 >= 1 ? date.getDate().toString() : `0${date.getDate()}`;
            return `${year}-${month}-${day}`;
        }
        document.getElementById("ArrivalDate").onchange = function() {
            let currentDate = new Date(document.getElementById("ArrivalDate").value)
            currentDate.setDate(currentDate.getDate() + 1);
            document.getElementById("DepartureDate").min = toFormat(currentDate)
        }
    </script>
}
