@using Journey.Entities
@using Microsoft.AspNetCore.Identity
@model Place
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Details";
}
<div class="border p-3 mt-4">
    <div class="row pb-2">
        <h2 class="text-primary">
            Details
        </h2>
        <hr />
    </div>
    <div class="mb-3">
        <dl class="row">
            <dt class="col-sm-2">
                <label asp-for="PlaceName"></label>
            </dt>
            <dd class="col-sm-10">
                @Model.PlaceName
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                <label asp-for="PricePerNight"></label>
            </dt>
            <dd class="col-sm-10">
                @Model.PricePerNight
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                <label asp-for="Rank"></label>
            </dt>
            <dd class="col-sm-10">
                @Model.Rank
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                <label asp-for="Address"></label>
            </dt>
            <dd class="col-sm-10">
                @Model.Address
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                <label asp-for="Description"></label>
            </dt>
            <dd class="col-sm-10">
                @Model.Description
            </dd>
        </dl>
    </div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">
        Back to List
    </a>
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Tenant"))
    {

        <a class="btn btn-dark" asp-controller="Tenant" asp-action="MakeReservation"
       asp-route-placeId="@Model.Id">
            Make Reservation
        </a>

    }
</div>
