@using Journey.Entities
@using Journey.ViewModels
@using Journey.ViewModels.Home
@using Microsoft.AspNetCore.Identity
@model HomeViewModel
@{
    ViewData["Title"] = "Home page";
    var arrivalStr = Model.ArrivalDate != null ? Model.ArrivalDate.Value.ToString("yyyy-MM-dd") : "";
    var departureStr = Model.DepartureDate != null ? Model.DepartureDate.Value.ToString("yyyy-MM-dd") : "";
    var prevDisabled = !Model.PaginatedList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.PaginatedList.HasNextPage ? "disabled" : "";
    var res = Model.PaginatedList.PageIndex >= Model.PaginatedList.TotalPages
               ? (Model.PaginatedList.TotalPages - 1) : Model.PaginatedList.PageIndex;

    var facilitiesStr = string.Join('.', Model.Facilities);
}
<form asp-action="Index" asp-controller="Home" id="filterParameters" method="get">
    <div class="bg-light border px-5 " style="background-image: url('/Bg_img.png'); border-radius: 5px;">
        <div class="d-flex justify-content-center" style="font-weight: 700">
            <div class="w-75 mb-5 text-white">
                <br /><br /><br /><br /><br />
                <h1 style="font-size: bold;">The Best hotels of the whole world</h1>
                <h5>
                    Explore the most unusual places in the world by our hotel service without large financial
                    expenses
                    and
                    dangerous to your life, no idedas for text, sorry
                </h5>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="row d-flex flex-wrap align-items-center justify-content-center mb-4 bg-light"
                 style="border-radius: 10px;">
                <div class="col-auto me-auto">
                    <label for="selectCity" class="form-label text-muted fw-bold"
                           style="height: 12px; font-size:12px;">Location</label>
                    <select class="form-select bg-light" aria-label="Default select example" id="selectedCityId" name="selectedCityId"
                            style="font-size:15px; border: none; padding-top: 0;">
                        <option value="0">All</option>
                        @foreach (var item in Model.Cities)
                        {
                            if (Model.SelectedCityId == item.Key)
                            {
                                <option value="@item.Key" selected>@item.Value</option>
                            }
                            else
                            {
                                <option value="@item.Key">@item.Value</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-auto d-flex me-auto"
                     style="border-left: 1px solid gainsboro; border-right: 1px solid gainsboro">
                    <div class="me-1">
                        <label for="exampleFormControlInput1" class="form-label text-muted fw-bold"
                               style="height: 12px; font-size:12px">Check in</label>
                        <input type="date" class="form-control bg-light" id="ArrivalDate" name="arrivalDate"
                               value="@arrivalStr"
                               style="font-size:15px; border: none; padding-top: 0;">
                    </div>
                    <div>
                        <label for="exampleFormControlInput2" class="form-label text-muted fw-bold"
                               style="height: 12px; font-size:12px">Check out</label>
                        <input type="date" class="form-control bg-light" id="DepartureDate" name="departureDate"
                               value="@departureStr"
                               style="font-size:15px; border: none; padding-top: 0;">
                    </div>
                </div>
                <div class="col-auto me-auto">
                    <label for="abode" class="form-label text-muted fw-bold"
                           style="height: 12px; font-size:12px">Abode</label>
                    <select class="form-select bg-light" aria-label="Default select example" id="selectedTypeId" name="selectedTypeId"
                            style="font-size:15px; border: none; padding-top: 0;">
                        <option value="0">All</option>
                        @foreach (var item in Model.Types)
                        {
                            if (Model.SelectedTypeId == item.Key)
                            {
                                <option value="@item.Key" selected>@item.Value</option>
                            }
                            else
                            {
                                <option value="@item.Key">@item.Value</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-auto me-auto">
                    <label class="form-label text-muted fw-bold" style="height: 10px; font-size:10px"></label>
                    <button type="submit" class="bg-dark text-light py-2 px-5"
                            style="border-radius: 5px; font-size: 15px; ">
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-start align-content-around my-3">
        <div class="form-actions no-color">
            <input class="form-control" type="text" name="SearchString" value="@Model.SearchString" placeholder="Find by name:">
        </div>
        <div class="ms-3">
            <div class="dropdown">
                <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Sort By:
                </a>
                <input type="hidden" value="@Model.CurrentSort" name="currentSort" />
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li>
                        <a class="dropdown-item"
                           asp-action="Index"
                           asp-route-selectedCityId="@Model.SelectedCityId"
                           asp-route-arrivalDate="@arrivalStr"
                           asp-route-departureDate="@departureStr"
                           asp-route-selectedTypeId="@Model.SelectedTypeId"
                           asp-route-currentSearchString="@Model.SearchString"
                           asp-route-currentSort="@Model.PriceSortParam"
                           asp-route-lowerPrice="@Model.LowerPrice"
                           asp-route-upperPrice="@Model.UpperPrice"
                           asp-route-bedsCount="@Model.BedsCount"
                           asp-route-facilities="@Model.Facilities"
                           asp-route-facilitiesStr="@facilitiesStr"
                           asp-route-pageIndex="@res">Price</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                           asp-action="Index"
                           asp-route-selectedCityId="@Model.SelectedCityId"
                           asp-route-arrivalDate="@arrivalStr"
                           asp-route-departureDate="@departureStr"
                           asp-route-selectedTypeId="@Model.SelectedTypeId"
                           asp-route-currentSearchString="@Model.SearchString"
                           asp-route-currentSort="@Model.RankSortParam"
                           asp-route-lowerPrice="@Model.LowerPrice"
                           asp-route-upperPrice="@Model.UpperPrice"
                           asp-route-bedsCount="@Model.BedsCount"
                           asp-route-facilitiesStr="@facilitiesStr"
                           asp-route-pageIndex="@res">Rank</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                           asp-action="Index"
                           asp-route-selectedCityId="@Model.SelectedCityId"
                           asp-route-arrivalDate="@arrivalStr"
                           asp-route-departureDate="@departureStr"
                           asp-route-selectedTypeId="@Model.SelectedTypeId"
                           asp-route-currentSearchString="@Model.SearchString"
                           asp-route-currentSort="@Model.NewestSortParam"
                           asp-route-lowerPrice="@Model.LowerPrice"
                           asp-route-upperPrice="@Model.UpperPrice"
                           asp-route-bedsCount="@Model.BedsCount"
                           asp-route-facilitiesStr="@facilitiesStr"
                           asp-route-pageIndex="@res">Newest</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @{
        var arr = Model.PaginatedList.ToArray();
    }
    <div class="d-flex flex-wrap justify-content-around">

        <div class="album mb-3 w-75" style="font-size: 12px;">
            @for (int i = 0; i < arr.Count();)
            {
                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4 mb-3 ">
                    @for (int j = 0; j < 4 && i < arr.Count(); j++, i++)
                    {
                        <div class="col">
                            <div class="card shadow-sm bg-light">
                                <img src="~/images/@arr[i].Photos.First().PhotoName"
                             asp-append-version="true" alt="" style="height: 150px;" />
                                <div class="position-absolute bg-light p-1 end-0"
                             style="top: 25px; border-radius: 5px 0 0 5px ;">
                                    price <span>$@arr[j].PricePerNight</span>
                                </div>
                                <div class="card-body">
                                    <span>
                                        <a asp-controller="Home" asp-action="Details"
                                   asp-route-id="@arr[i].Id"
                                   asp-route-arrivalDate="@arrivalStr"
                                   asp-route-departureDate="@departureStr">@arr[i].PlaceName</a>
                                    </span>
                                    <br>
                                    <span class="card-text">@arr[i].City.CityName, @arr[i].Address</span><br>
                                    <span>@arr[i].Rank</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="mb-3 ms-3" style="width: 200px;">
            <h3 class="mb-3" style="font-size: 20px; font-weight: 700;">Price</h3>
            <div class="row g-3 mb-3">
                <div class="col">
                    <input type="number" min="0" max="100" value="@Model.LowerPrice" class="form-control" id="inputLower" name="lowerPrice"
                           placeholder="0">
                </div>
                <div class="col">
                    <input type="number" min="0" max="100" value="@Model.UpperPrice" class="form-control" id="inputUpper" name="upperPrice"
                           placeholder="0">
                </div>
                <span class="multi-range">
                    <input type="range" min="0" max="100" value="@Model.LowerPrice" id="lower">
                    <input type="range" min="0" max="100" value="@Model.UpperPrice" id="upper">
                </span>
                <div class="col">
                    Beds
                </div>
                <div class="col text-end">
                    <input type="button" id="buttonCountMinusBeds" class="me-3" style="background-color:transparent; border: none;" value="-" />
                    <span id="calculationBeds" class="me-3">@Model.BedsCount</span>
                    <input type="button" id="buttonCountPlusBeds" style="background-color:transparent; border: none;" value="+">
                    <input type="hidden" value="@Model.BedsCount" name="bedsCount" id="bCount" />
                </div>
                <div>
                    <h4 class="mb-3" style="font-size: 20px; font-weight: 700;">Facilities</h4>
                    @foreach (var listItem in Model.ListFacilities)
                    {
                        <div class="row" style="height: 30px;">
                            <div class="col">
                                @listItem.Text
                            </div>
                            <div class="col text-end">
                                <input class="form-check-input" type="checkbox" value="@listItem.Value" checked="@listItem.Selected" id="@listItem.Value"
                                   name="Facilities">
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</form>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a asp-action="Index"
               asp-route-selectedCityId="@Model.SelectedCityId"
               asp-route-arrivalDate="@arrivalStr"
               asp-route-departureDate="@departureStr"
               asp-route-selectedTypeId="@Model.SelectedTypeId"
               asp-route-currentSearchString="@Model.SearchString"
               asp-route-currentSort="@Model.CurrentSort"
               asp-route-lowerPrice="@Model.LowerPrice"
               asp-route-upperPrice="@Model.UpperPrice"
               asp-route-bedsCount="@Model.BedsCount"
               asp-route-pageIndex="@(Model.PaginatedList.PageIndex - 1)"
               asp-route-facilitiesStr="@facilitiesStr"
               class="btn btn-default @prevDisabled">
                Previous
            </a>
        </li>
        @for (int i = 1; i <= Model.PaginatedList.TotalPages; i++)
        {
            <li class="page-item">
                <a asp-action="Index"
               asp-route-selectedCityId="@Model.SelectedCityId"
               asp-route-arrivalDate="@arrivalStr"
               asp-route-departureDate="@departureStr"
               asp-route-selectedTypeId="@Model.SelectedTypeId"
               asp-route-currentSearchString="@Model.SearchString"
               asp-route-currentSort="@Model.CurrentSort"
               asp-route-lowerPrice="@Model.LowerPrice"
               asp-route-upperPrice="@Model.UpperPrice"
               asp-route-bedsCount="@Model.BedsCount"
               asp-route-pageIndex="@i"
               asp-route-facilitiesStr="@facilitiesStr"
               class="page-link">@i</a>
            </li>
        }
        <li class="page-item">
            <a asp-action="Index"
               asp-route-selectedCityId="@Model.SelectedCityId"
               asp-route-arrivalDate="@arrivalStr"
               asp-route-departureDate="@departureStr"
               asp-route-selectedTypeId="@Model.SelectedTypeId"
               asp-route-currentSearchString="@Model.SearchString"
               asp-route-currentSort="@Model.CurrentSort"
               asp-route-lowerPrice="@Model.LowerPrice"
               asp-route-upperPrice="@Model.UpperPrice"
               asp-route-bedsCount="@Model.BedsCount"
               asp-route-pageIndex="@(Model.PaginatedList.PageIndex + 1)"
               asp-route-facilitiesStr="@facilitiesStr"
               class="btn btn-default @nextDisabled">
                Next
            </a>
        </li>
    </ul>
</nav>
@section Scripts{
    <script>
        let lowerSlider = document.getElementById("lower");
        let inputLower = document.getElementById("inputLower");
        let upperSlider = document.getElementById("upper");
        let inputUpper = document.getElementById("inputUpper");
        upperSlider.onchange = function() {
            inputUpper.value = upperSlider.value;
            inputLower.value = lowerSlider.value;
        }
        lowerSlider.onchange = function() {
            inputLower.value = lowerSlider.value;
            inputUpper.value = upperSlider.value;
        }
        upperSlider.oninput = function() {
            lowerVal = parseInt(lowerSlider.value);
            upperVal = parseInt(upperSlider.value);
            if (upperVal < lowerVal + 4) {
                lowerSlider.value = upperVal - 4;

                if (lowerVal == lowerSlider.min) {
                    upperSlider.value = 4;
                }
            }
        };
        lowerSlider.oninput = function() {
            lowerVal = parseInt(lowerSlider.value);
            upperVal = parseInt(upperSlider.value);
            if (lowerVal > upperVal - 4) {
                upperSlider.value = lowerVal + 4;

                if (upperVal == upperSlider.max) {
                    lowerSlider.value = parseInt(upperSlider.max) - 4;
                }
            }
        };
        lowerSlider.oninput = function() {
            inputLower.value = lowerSlider.value;
            if (Number(lowerSlider.value) >= Number(upperSlider.value)) {
                upperSlider.value = lowerSlider.value;
                inputUpper.value = lowerSlider.value;
            }
        }
        upperSlider.oninput = function() {
            inputUpper.value = upperSlider.value;
            if (Number(lowerSlider.value) >= Number(upperSlider.value)) {
                lowerSlider.value = upperSlider.value;
                inputLower.value = upperSlider.value;
            }
        }
        inputLower.onchange = function() {
            lowerSlider.value = inputLower.value;
            if (Number(inputLower.value) >= Number(inputUpper.value)) {
                inputUpper.value = inputLower.value;
                upperSlider.value = inputLower.value;
            }
        }
        inputUpper.onchange = function() {
            upperSlider.value = inputUpper.value;
            if (Number(inputLower.value) >= Number(inputUpper.value)) {
                inputLower.value = inputUpper.value;
                lowerSlider.value = inputUpper.value;
            }
        }
        upperSlider.onchange = function() {
            document.forms["filterParameters"].submit();
        };
        inputUpper.onchange = function() {
            document.forms["filterParameters"].submit();
        }
        lowerSlider.onchange = function() {
            document.forms["filterParameters"].submit();
        };
        inputLower.onchange = function() {
            document.forms["filterParameters"].submit();
        }
        /////////////////////////////////////////////////////////////////////
        function toFormat(date) {
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var day = date.getDate();
            month = month / 10 >= 1 ? month.toString() : `0${month}`;
            day = date.getDate() / 10 >= 1 ? date.getDate().toString() : `0${date.getDate()}`;
            return `${year}-${month}-${day}`;
        }
        let date = new Date();

        date.setDate(date.getDate() + 1);
        document.getElementById("ArrivalDate").min = toFormat(date);
        date.setDate(date.getDate() + 1);
        document.getElementById("DepartureDate").min = toFormat(date);

        document.getElementById("ArrivalDate").onchange = function() {
            let currentDate = new Date(document.getElementById("ArrivalDate").value)
            currentDate.setDate(currentDate.getDate() + 1);
            document.getElementById("DepartureDate").min = toFormat(currentDate)
            document.getElementById("DepartureDate").value = toFormat(currentDate)
        }
        ////////////////////////
        let calculateBeds = document.getElementById("calculationBeds");
        let bedsCount = document.getElementById("bCount");
        document.getElementById("buttonCountPlusBeds").onclick = function() {
            let countPlus = calculateBeds.innerHTML;
            if (+countPlus <= 10) {
                calculateBeds.innerHTML++;
            }
            bedsCount.value = calculateBeds.innerHTML;
            document.forms["filterParameters"].submit();
        }
        document.getElementById("buttonCountMinusBeds").onclick = function() {
            let countMinus = calculateBeds.innerHTML;
            if (+countMinus >= 1) {
                calculateBeds.innerHTML--;
            }
            bedsCount.value = calculateBeds.innerHTML;
            document.forms["filterParameters"].submit();
        }
        ///////////////////////////////
        let facilities = document.getElementsByName("Facilities");
        facilities.forEach(element => {
            element.onchange = function() {
                document.forms["filterParameters"].submit();
            };
        });
    </script>
}