@using Journey.Entities
@using Journey.ViewModels
@using Microsoft.AspNetCore.Identity
@model IndexViewModel<Place>
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "LandLord page";
}

<div class="d-flex justify-content-center">
    <form action="" action="/action_page.php" method="get"
          class="row d-flex flex-wrap align-items-center justify-content-center mb-4 bg-light"
          style="border-radius: 10px;">
        <div class="col-auto me-auto">
            <label for="selectCity" class="form-label text-muted fw-bold"
                   style="height: 12px; font-size:12px;">Location</label>
            <select class="form-select bg-light" aria-label="Default select example" id="selectCity" name="selectCity"
                    style="font-size:15px; border: none; padding-top: 0;">
                <option value="0">All</option>
                @foreach (var item in Model.Cities)
                {
                    <option value="@item.Key">@item.Value</option>
                }
            </select>
        </div>
        <div class="col-auto d-flex me-auto"
             style="border-left: 1px solid gainsboro; border-right: 1px solid gainsboro">
            <div class="me-1">
                <label for="exampleFormControlInput1" class="form-label text-muted fw-bold"
                       style="height: 12px; font-size:12px">Check in</label>
                <input type="date" class="form-control bg-light" id="ArrivalDate" name="arrivalDate"
                       value="@Model.Params["ArrivalDate"]"
                       style="font-size:15px; border: none; padding-top: 0;">
            </div>
            <div>
                <label for="exampleFormControlInput2" class="form-label text-muted fw-bold"
                       style="height: 12px; font-size:12px">Check out</label>
                <input type="date" class="form-control bg-light" id="DepartureDate" name="departureDate"
                       value="@Model.Params["DepartureDate"]"
                       style="font-size:15px; border: none; padding-top: 0;">
            </div>
        </div>
        <div class="col-auto me-auto">
            <label for="abode" class="form-label text-muted fw-bold"
                   style="height: 12px; font-size:12px">Abode</label>
            <select class="form-select bg-light" aria-label="Default select example" id="abode"
                    style="font-size:15px; border: none; padding-top: 0;">
                <option selected>An entire place</option>
                <option value="1">A private room</option>
                <option value="2">A shared room</option>
            </select>
        </div>
        <div class="col-auto me-auto">
            <label class="form-label text-muted fw-bold" style="height: 10px; font-size:10px"></label>
            <button type="submit" class="bg-dark text-light py-2 px-5"
                    style="border-radius: 5px; font-size: 15; ">
                Search
            </button>
        </div>
    </form>

</div>
<div class="d-flex justify-content-start">
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name: <input type="text" name="SearchString" value="@Model.Params["CurrentFilter"]"
                                     class="form-control" style="width:300px; display:inline-block;" />
                <a class="btn btn-dark" asp-action="Index" asp-route-sortOrder="@Model.Params["PriceSortParm"]" asp-route-currentFilter="@Model.Params["CurrentFilter"]">SortPrice</a>
                <a class="btn btn-dark" asp-action="Index" asp-route-sortOrder="@Model.Params["RankSortParm"]" asp-route-currentFilter="@Model.Params["CurrentFilter"]">SortRank</a>
            </p>
        </div>
    </form>
</div>
<h2>Places</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                PlaceName
            </th>
            <th>
                LandLord
            </th>
            <th>
                PricePerNight
            </th>
            <th>
                Rank
            </th>
            <th>
                City
            </th>
            <th>
                Address
            </th>
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Tenant"))
            {
                <th>Action</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PaginatedList)
        {
            <tr>
                <td><a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">@item.PlaceName</a></td>
                <td>@item.Account!.UserName</td>
                <td>@item.PricePerNight</td>
                <td>@item.Rank</td>
                <td>@item.City!.CityName</td>
                <td>@item.Address</td>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Tenant"))
                {
                    <td>
                        <a class="btn btn-dark" asp-controller="Tenant" asp-action="MakeReservation"
                   asp-route-placeId="@item.Id">
                            Make Reservation
                        </a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.PaginatedList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.PaginatedList.HasNextPage ? "disabled" : "";
}
@*<form asp-action="Index" method="get" style="display:inline-block;">
    <input type="hidden" name="sortOrder" value="@Model.Params["CurrentSort"]" />
    <input type="hidden" name="currentFilter" value="@Model.Params["CurrentFilter"]" />
    <div class="form-actions no-color">
        <p>
            CurrentPage: <input type="number" name="pageNumber" value="@Model.PaginatedList.PageIndex"
                                class="form-control" style="width:150px; display:inline-block;" />
            <input type="submit" value="Go" class="btn btn-primary" />
        </p>
    </div>
</form>*@
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a asp-action="Index"
               asp-route-sortOrder="@Model.Params["CurrentSort"]"
               asp-route-pageNumber="@(Model.PaginatedList.PageIndex - 1)"
               asp-route-currentFilter="@Model.Params["CurrentFilter"]"
               class="btn btn-default @prevDisabled">
                Previous
            </a>
        </li>
        @for (int i = 1; i <= Model.PaginatedList.TotalPages; i++)
        {
            <li class="page-item"><a asp-action="Index"
               asp-route-sortOrder="@Model.Params["CurrentSort"]"
               asp-route-pageNumber="@i"
               asp-route-currentFilter="@Model.Params["CurrentFilter"]" class="page-link" >@i</a></li>
        }
        <li class="page-item">
            <a asp-action="Index"
               asp-route-sortOrder="@Model.Params["CurrentSort"]"
               asp-route-pageNumber="@(Model.PaginatedList.PageIndex + 1)"
               asp-route-currentFilter="@Model.Params["CurrentFilter"]"
               class="btn btn-default @nextDisabled">
                Next
            </a>
        </li>
    </ul>
</nav>


@section Scripts{
    <script>


        function toFormat(date) {
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var day = date.getDate();
            month = month / 10 >= 1 ? month.toString() : `0${month}`;
            day = date.getDate() / 10 >= 1 ? date.getDate().toString() : `0${date.getDate()}`;
            return `${year}-${month}-${day}`;
        }

        let date = new Date();

        date.setDate(date.getDate() + 1);
        document.getElementById("ArrivalDate").min = toFormat(date)

        date.setDate(date.getDate() + 1);
        document.getElementById("DepartureDate").min = toFormat(date)

        document.getElementById("ArrivalDate").onchange = function() {
            let currentDate = new Date(document.getElementById("ArrivalDate").value)
            currentDate.setDate(currentDate.getDate() + 1);
            document.getElementById("DepartureDate").min = toFormat(currentDate)
            document.getElementById("DepartureDate").value = toFormat(currentDate)
        }
    </script>
}